:root{  
    --text-align:center;
    --height:auto;
    --width:150px;
    --padding:10px; 
    --border:1px solid black;
}

main{
    max-width: 840px;
}
aside{
   width:20rem;
   margin:1rem;
   border:var(--border);
   padding: 1rem;
   background-color: #eee;
   color: #333;
   text-align:var(--text-align);
}
aside img{
    width: var(--width);
    height: var(--height);
}
main img {
    width: var(--width);
    height:var(--height);
    
}
p{padding: 0;}

footer{
    margin-top:15px;
    border-top: 1px solid #000;
    text-align:var(--text-align);
}
nav{
    background-color: rgb(108, 196, 223);
    padding:var(--padding);
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: rgb(52,73,94);
}
img{
    width:var(--width);
    height:var(--height);
    border:var(--border);
    padding: 2px;
    box-shadow:0 0 30px gray;
}
p {
    padding: 10px;
}
